<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalManagementSysteam.Properties.Settings.HospitalManagementSysteamConnectionString"
            connectionString="Data Source=DESKTOP-FUO61S0\SQLEXPRESS02;Initial Catalog=HospitalManagementSysteam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HospitalManagementSysteam.Properties.Settings.QuanLyBenhNhanNoiTruConnectionString"
            connectionString="Data Source=DESKTOP-FUO61S0\SQLEXPRESS02;Initial Catalog=QuanLyBenhNhanNoiTru;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>